body {
    background-color: rgba(34, 23, 2, 0.829);


}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.conteudo {
    width: 80%;
    height: 1000px;
    background-color: rgb(216, 185, 101);
    padding: 24px;
    
}

.titulo {

    font-size: 25px;
    background-color: rgb(216, 185, 121);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.primeiroSubTitulo {
    font-size: 180%;
    text-align: left;
    margin-left: 50px;
    color: rgb(96, 97, 94);
}





#imagemTexto {

    height: 400px;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 20px;

    /* Fundo marrom atrás da imagem */
    background-color: saddlebrown;
    padding: 16px;
    border-radius: 10px;




}

.primeiroTexto {
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 58px;
    text-align: justify;

    /* Fundo marrom atrás do primeiro texto */
    background-color: saddlebrown;
    padding: 26px;
    padding-right: 8px;
    border-radius: 10px;
    color: #fff;
   


}